/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}
/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 80%;
    /* max-width: 1100px; */
}

/* VARIABLE */
:root {
    --bottom-height: 120px;
}

/* WRAPPER */
.wrapper {
    /* debug */
    background-color: aqua;
    min-height: 200px;
}

/* TOP CONTAINER */
.top_part {
    height: calc(100% - 120px);
    /* debug */
    background-color: orange;
    padding: 30px;
}

.item_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.video_item {
    background-image: url(https://picsum.photos/seed/picsum/200/300);  
    width: calc(100% / 7); 
    min-height: 150px;
    background-position: center;
    background-size: cover;

}
/* BOTTOM CONTAINER */
.bottom_part {
    /* debug */
    background-color: orangered;
    height: 120px;
}